@page "/"

<PageTitle>Index</PageTitle>

<MudAppBar Color="Color.Primary"></MudAppBar>

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="margin: 10px;">
    <DemoButton>DemoButton</DemoButton>
</div>

<div style="margin: 10px;">
    <DemoMudButton>DemoMudButton</DemoMudButton>
</div>

<div style="margin: 10px;">
    <MudButton Variant="Variant.Filled" Color="Color.Secondary">MudButton</MudButton>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
